.profile__add-button {
    display: block;
    background-color: transparent;
    align-self: center;
    margin: 0;
    justify-self: end;
    position: relative;
    width: 150px;
    height: 50px;
    border: #fff 2px solid;
    box-sizing: border-box;
}
.profile__add-button:hover {
    opacity: .7;
}


@media screen and (max-width: 900px) {
    .profile__add-button {
        width: 282px;
        
    }
    
}