.profile__name {
    margin: 0;
    margin-bottom: 16px;
    margin-right: 18px;
    color: #fff;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0em;
    text-align: left;
    max-width: 366px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 600px) {
    .profile__name {
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        margin: 22.25px 15.25px 14px;
        text-align: center;
        

    }
}