


@import url('../styles/normalize.css');
/* шрифт */
@import url('../vendor/fonts.css');
/* основное */
@import url('../blocks/page/page.css');
@import url('../blocks/all/all.css');
/* header */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
/* profile */
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__main/profile__main.css');
@import url('../blocks/profile/__image/profile__image.css');
@import url('../blocks/profile/__column/profile__column.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__description/profile__description.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__button-pen/profile__button-pen.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');
@import url('../blocks/profile/__inside-plus/profile__inside-plus.css');
@import url('../blocks/profile/__info/profile__info.css');

/* elements */
@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__image/elements__image.css');
@import url('../blocks/elements/__title/elements__title.css');
@import url('../blocks/elements/__like/elements__like.css');
@import url('../blocks/elements/__envelop/elements__envelop.css');
@import url('../blocks/elements/__group/elements__group.css');
/* footer */
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
/* pop-up */
@import url('../blocks/pop-up/__button/pop-up__button.css');
@import url('../blocks/pop-up/pop-up.css');
@import url('../blocks/pop-up/_opened/pop-up_opened.css');
@import url('../blocks/pop-up/__container/pop-up__container.css');
@import url('../blocks/pop-up/__form/pop-up__form.css');
@import url('../blocks/pop-up/__title/pop-up__title.css');
@import url('../blocks/pop-up/__input/_type/pop-up__input_type_user.css');
@import url('../blocks/pop-up/__input/_type/pop-up__input_type_descr.css');
@import url('../blocks/pop-up-image/pop-up-image.css');
@import url('../blocks/pop-up/__close/pop-up__close.css');
@import url('../blocks/pop-up/__body/pop-up__body.css');
@import url('../blocks/pop-up/__input/pop-up__input.css');
/* пусть побудет тут  */
html {
    
  background: #000;
    
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.elements__can {
  
  background-image: url(../images/Trash.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}   
    
.elements__can:hover {
  opacity: .7;
}   
   
 
    /*elements*/
    .onPage {
      max-width: 880px;
       margin: 0 auto 67px;
       display: grid;
       /* grid-template-columns: repeat(3, minmax(282px, 1fr)); */
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(2, 1fr);
       column-gap: 17px;
       row-gap: 20px;
       justify-items: center;
       
   }

   @media screen and (max-width: 1024px) {
       .onPage{
           grid-template-columns: repeat(2, minmax(282px, 1fr));
       }
       
   }
    
   @media screen and (max-width: 768px) {   
       .onPage {
           margin: 0 auto;
           /* width: calc(100% - 19px*2); */
           grid-template-columns: 2fr;
       }
   }
   @media screen and (max-width: 600px) {   
       .onPage {
           margin: 0 auto;
           /* width: calc(100% - 19px*2); */
           grid-template-columns: 1fr;
           margin-bottom: 48px;
           
       }
   }